name: flutter_vantui_icons
description: Flutter Vant Icons
version: 0.0.1

environment:
  sdk: '>=2.18.6 <3.0.0'
  flutter: '>=1.17.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  fonts:
    - family: FlutterVantUIIcons
      fonts:
        - asset: assets/icons.ttf
